th {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 5px 0 5px 0;
}

td {
    padding: 5px 0 5px 0;
    box-sizing: inherit;
    text-align: center;
}

.bus {
    width: 80px;
}

.due {
    width: 200px;
}

table {
    border-collapse: collapse;
}

.busGreeting {
    font-weight: medium;
    padding-bottom: 10px;
}